<% if @appointments%>
  <p>Are you sure you want to delete the following note: <em>"<%= @note.content %>"</em>?</p>
  <form action="/<%= @appointments.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Yes, Delete It!">
    <a href="/<%= @appointments.id %>">Cancel</a>
  </form>
<% else %>
  <p>Appointment not found.</p>
<% end %>


